* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #f8f8f8;
  height: 100vh; }

header {
  width: 100%;
  height: 95px;
  background: #c77dffab; }
  header nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: -1; }
    header nav .my-label {
      width: 100px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      header nav .my-label label {
        font-size: 1.5em;
        color: #4a1080;
        transition: 2.5s all; }
        header nav .my-label label:hover {
          transform: scale(110%); }
      header nav .my-label label:hover + .Flower_svg {
        scale: 110%;
        cursor: pointer;
        transform: rotate(360deg); }
      header nav .my-label .Flower_svg {
        width: 25PX;
        height: 25PX;
        transition: transform 3s;
        color: #a125ff; }
    header nav ul {
      z-index: 0;
      width: 250px;
      height: 35px;
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between; }
    header nav li a {
      color: #ffffff;
      text-decoration: none;
      transition: 0.8s all ease-out; }
    header nav li a:hover {
      color: #4a1080e0; }
  header .account {
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #9d4edd;
    border-radius: 50px;
    padding: 1.5px 3px;
    box-shadow: 0 0px 5px #9e69cc, 0 0px 5px #9e69cc, 0 0px 5px #9e69cc; }
    header .account .Shop_svg {
      width: 40px;
      height: 40px;
      padding-left: 5px;
      color: #7b2cbf;
      transition: 0.8s all ease-out;
      margin-bottom: 4px; }
    header .account .Shop_svg:hover {
      cursor: pointer;
      scale: 108%;
      color: #891be9; }
    header .account img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 0.4px solid #7b2cbf;
      box-shadow: 0 5px 10px #9e69cc;
      transition: 0.8s all ease-out;
      cursor: pointer;
      overflow: hidden; }
    header .account img:hover {
      scale: 110%; }

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  main .content {
    margin-left: 150px; }
  main h2 {
    color: #4a1080;
    font-size: 1.7em; }
  main p {
    padding-top: 15px;
    color: #333;
    font-size: 0.95em; }
  main .data {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 15px; }
    main .data button {
      margin-right: 50px;
      background: none;
      color: #4a1080;
      border: 1px solid #8015dd;
      border-radius: 50px;
      padding: 4px 30px;
      font-size: 0.9em;
      cursor: pointer;
      transition: 1s all ease; }
    main .data button:hover {
      color: #fff;
      background: #8015dd;
      scale: 105%;
      box-shadow: 0 0 8px #4a1080; }
    main .data h5 {
      transition: 0.8s all ease-in; }
      main .data h5 a {
        color: #8015dd;
        text-decoration: none;
        transition: 0.8s all ease-in; }
      main .data h5 a:hover {
        color: #a25edd; }
    main .data h5:hover {
      scale: 105%; }
  main .vase-photo img {
    width: 350px;
    height: 400px;
    margin-inline: 100px;
    z-index: 1; }

.circle {
  background: #c77dff;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  filter: blur(130px);
  position: absolute;
  top: 240px;
  right: 80px;
  z-index: -1; }

/*# sourceMappingURL=style.css.map */
