@font-face {
    font-family: "Os regular";
    src: url("fonts/Oswald-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Os Medium";
    src: url("fonts/Oswald-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Os Light";
    src: url("fonts/Oswald-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Os Bold";
    src: url("fonts/Oswald-Bold.ttf") format("truetype");
}


/* Normalize Css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0; /* 3 */
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/* -----------Start Project----------- */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Os regular";
    background-color:#75ffdc;
    color: #fff;
}

.container {
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

/* -----------header-top style----------- */

.header{
    background-color: #121212;
}
.header-top{
    background-color: #12121200;
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: normal;
}

.header-logo-container{
    display: flex;
    align-items: center;
}
.header-logo__img{
    border-radius: 0.3rem;
    margin-right:0.5rem ;
}
.header-logo__title{
    font-family: "Os regular";
    font-weight: normal;
    font-size: 1rem;
}
.header-menu{
    display: flex;
    align-items: center;
    list-style-type:none;
    font-family: sans-serif;
    font-size: 0.8rem;
}
.header__icon{
    font-size: 1.8rem;
    display: none;
    cursor: pointer
}   

.header-menu__link{
    padding: 0 0.6rem;
    color: #fff;
    text-decoration: none;
    transition: 0.45s all;
}
.header-menu__link:hover{
    color:#ff6118e1 ;
}
.header-button-container{
    display: flex;
    align-items: center;
}
.header-btn-item{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: small;
    padding: 0.3rem 0.7rem;
    margin-right: 0.5rem;
    color: #fff;
    text-decoration: none;
    background-color: #FB5607;
    border-radius: 0.3rem;
    transition: 0.3s all;
}
.header-btn-item__1{
    background:  none;
}
.header-btn-item__1:hover{
    background:  #FB5607;
}
.header-btn-item__2:hover{
    scale: 95%;
}
/* -----------header-top style----------- */

.header-buttom{
    background-color: #000000;
    height: 32.5rem;
}

.header-buttom__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-buttom__left__container{
    max-width: 40rem;
}
.header-buttom__left{
    flex-basis: 50%;
}
.header-buttom__left__title{
    font-size: 4.5rem;
    line-height: 6rem;
}
.header-buttom__left__text{
    color: #afafaf;
    font-family: sans-serif;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin: 0 ;
}
.header-buttom__btns{
    font-family: sans-serif;
    max-width: 22rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}
.header-buttom__btn__1{
    background-color: #FB5607;
    text-decoration: none;
    color: #fff;
    padding: 1rem 1rem;
    border-radius: 0.3rem;
    transition: 0.3s all;
    font-size: 0.9rem;
    transition: 0.3s all;
}
.header-buttom__btn__1:hover{
    scale: 96%;
    background-color: #fb5407c4;
}
.header-buttom__btn__2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-buttom__btn__2__play{
    cursor: pointer;
    transition: 0.3s all;
}
.header-buttom__btn__2__play:hover{
    scale: 109%;
}
.header-buttom__btn__2__text{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: 0.3s all;
}
.header-buttom__btn__2__text:hover{
    color: #afafaf;
}
.header-buttom__right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}
.header-buttom__img{
    height: 32.5rem;
}

/* -----------main style----------- */
/* -----------top-main style----------- */

.main{
    background-color: #121212;
}
.top-main{
    padding: 2rem 0 ;
}
.top-main__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}
.top-main__item{
}
.top-main__item__number{
    color: #fff;
}
.top-main__item__text{
    font-family: sans-serif;
    color: #afafaf;
    max-width:15rem;
}







/* Project Responsive */

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .header-buttom__wrapper{
        flex-direction: column;
    }
    .header-buttom{
        height: 61.3rem;
    }
    .header-menu{
        display: none;
    }
    .header__icon{
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 540px;/*540px*/
    }
    .header-buttom{
        height: 69rem;
    }
    
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
    .header-buttom{
        height: 61.3rem;
    }
    .header-button-container{
        position: absolute;
        top: 6rem;
        left: 0.7rem;
    }
    .header-btn-item__1{
        order: 1;
        background-color: #fb5407;
    }
    .header-buttom__left__title{
        font-size: 3.1rem
    }
    .top-main__items{
        justify-content: center;
    }
    .top-main__item {
        flex-basis: 14rem;
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {
    .container {
        max-width: 100%;
    }
    .header-buttom{
        height: 69rem;
    }
}
